name = "deckverse-cf-images"
main = "cf-images-worker.js"
compatibility_date = "2024-01-01"

[vars]
CF_IMAGE_VARIANT = "public"
CF_ACCOUNT_HASH = "seu_hash_publico_aqui"

# Deploying steps:
# 1. npx wrangler secret put CF_ACCOUNT_ID
# 2. npx wrangler secret put CF_API_TOKEN
# 3. npx wrangler deploy
